[submodule "ckb/omnilock"]
	path = ckb/omnilock
	url = https://github.com/cryptape/omnilock.git
[submodule "ckb/anyone-can-pay"]
	path = ckb/anyone-can-pay
	url = https://github.com/cryptape/anyone-can-pay.git
[submodule "ckb/ckb-production-scripts"]
	path = ckb/ckb-production-scripts
	url = https://github.com/nervosnetwork/ckb-production-scripts.git
[submodule "ckb/spore-contract"]
	path = ckb/spore-contract
	url = https://github.com/sporeprotocol/spore-contract.git
[submodule "ckb/ckb-js-vm"]
	path = ckb/ckb-js-vm
	url = https://github.com/nervosnetwork/ckb-js-vm.git
[submodule "ckb/nostr-binding"]
	path = ckb/nostr-binding
	url = https://github.com/cryptape/nostr-binding.git
[submodule "ckb/pw-lock"]
	path = ckb/pw-lock
	url = https://github.com/nervosnetwork/pw-lock.git
[submodule "ckb/ckb-system-scripts"]
	path = ckb/ckb-system-scripts
	url = https://github.com/nervosnetwork/ckb-system-scripts.git
[submodule "ckb/fiber"]
	path = ckb/fiber
	url = https://github.com/nervosnetwork/fiber.git
