[submodule "ckb/omnilock"]
	path = ckb/omnilock
	url = https://github.com/cryptape/omnilock.git
[submodule "ckb/anyone-can-pay"]
	path = ckb/anyone-can-pay
	url = https://github.com/cryptape/anyone-can-pay.git
[submodule "ckb/ckb-production-scripts"]
	path = ckb/ckb-production-scripts
	url = https://github.com/nervosnetwork/ckb-production-scripts.git
[submodule "ckb/spore-contract"]
	path = ckb/spore-contract
	url = https://github.com/sporeprotocol/spore-contract.git
