[submodule "docker/omnilock"]
	path = docker/omnilock
	url = https://github.com/cryptape/omnilock.git
[submodule "docker/anyone-can-pay"]
	path = docker/anyone-can-pay
	url = https://github.com/cryptape/anyone-can-pay.git
[submodule "docker/ckb-production-scripts"]
	path = docker/ckb-production-scripts
	url = https://github.com/nervosnetwork/ckb-production-scripts.git
